<div class="row-fluid">
	<div class="col-sm-12 col-md-12 app-list" style="margin:4px 0;">
		<div class="thumbnail">
			<div class="caption">
				<h5><small>时间：</small>2013年6月</h5>
				<h5><small>项目：</small><i><span class="glyphicon glyphicon-star"></span>云设计后台管理系统</i></h5>
				<h5><small>职责：</small>后台 开发</h5>
			</div>
			<img src="images/server3.jpg" class="img-responsive" />
			<div class="caption">
				<h5><small>描述：</small></h5>
				<p>
					在完成<strong>云设计</strong>Web客户端基本版本的开发后，我又开始做后台管理系统，让数据对所有开发人员，测试人员可视化。
				</p>
				<blockquote>
					<p class="lead">
						后台使用了<strong>Thinkphp+bootstrap</strong>快速开发框架
					</p>
				</blockquote>
				<img src="images/tb.jpg" class="img-responsive" />
				<p>
					后台使用了RBAC进行基于用户角色的权限管理，让每个不同角色组的用户使用获得不同的访问，操作权限。
				</p>
				<p>
					最初，我们对统计数据的处理方法是直接使用SQL从原始数据库拿，后来发现，统计数据会极大地占用数据库查询时间，并且经常会锁死数据库。
				</p>
				<blockquote>
					<p class="lead">
						
					</p>
				</blockquote>
				<p>
					我们（强制）采集的数据与请求匹配的数据并不一致。这让我们非常紧张。
					<br />
					于是，我们加入了反馈机制，并请项目部与设计师们进行面对面的沟通，听取他们的真实使用感受，进一步改进云设计。
					<br />
					接下来，我们开始对云设计Web客户端进行<strong>全方位的优化</strong>：前端html优化，Thinkphp框架优化，数据库优化，服务器性能优化等，包括
				</p>
				<blockquote>
					<ul>
						<li>
							使用<strong>阿里测</strong>进行前端访问测试，压缩合并css,js文件，压缩图片文件；由于设计方案图片较多，这一步极大的提升的页面的显示速度； <img src="images/server2.jpg" class="img-responsive" />
						</li>
						<li>
							关闭Thinkphp日志，开启文件缓存，开启前端SQL缓存；
						</li>
						<li>
							数据库方面，我们得到集团大型团购网站<strong>新居网</strong>的大力帮助，对数据库进行了大规模优化，包括优化字段结构，优化数据类型，优化SQL语句，全面使用存储过程；分库，分表，使用Mysql内置内存数据库等。
						</li>
						<li>
							优化nginx配置，开启更多的worker process,开启gzip，开启keepalive，使用nginx缓存，优化php-fpm配置等，提高服务器响应能力
							<img src="images/lenp.jpg" class="img-responsive" />
						</li>
					</ul>
				</blockquote>
				<p>
					从<strong>Thinkphp</strong>框架里面，我学习到很多有用的东西，尤其是简洁的数据库操作类。在其他没有使用Thinkphp的项目，我都会使用自己提取，精简过的数据库操作类。
				</p>
			</div>
		</div>
	</div>

</div>
