<div class="row">
	<div class="col-sm-12 col-md-12 app-list" style="margin:4px 0;">
		<div class="thumbnail">
			<div class="caption">
				<h5><small>时间：</small>2013年6月</h5>
				<h5><small>项目：</small><i><span class="glyphicon glyphicon-star"></span>云设计Web客户端开发</i></h5>
				<h5><small>职责：</small>服务器架构师</h5>
			</div>
			<img src="images/server.jpg" />
			<div class="caption">
				<h5><small>描述：</small></h5>
				<p>
					这一年，集团提出进行<strong>云端落地策略</strong>，启动云设计项目。
				</p>
				<p>
					作为公司首次在云计算方面的探索，我们移动开发小组肩负起了服务器端的开发。
				</p>
				<blockquote>
					<p class="lead">
						从开始的一台服务器，到现在的5台物理服务器，服务器数量不断增加。后面购置的两台超级服务器上，架构了超过10台的虚拟服务器，不断地为越来越多的业务扩展中提供稳定高效的支持。
					</p>
				</blockquote>
				<p>
					服务器集群的规模越来越大，对我的挑战也越来越大。
				</p>
				<blockquote>
					<p class="lead">
						从开始配置CentOS操作系统，<br />到后面KVM+Iptables+Nginx的负载均衡；
						</br >从开始的一个数据库，到后面的读写分离，分表拆表，主从同步，我开始深入到千万级数据量的处理
					</p>
				</blockquote>
				<img src="images/kvm.png" class="img-responsive"/>
				<p>
					为了使用服务器集群协调运作，我们使用了众多脚本去控制各台服务器，应用的运行，监控服务器运行状态等。
				</p>
				<blockquote>
					<p class="lead">
						这段时间，shell编程有了极大进步，熟练掌握<strong>shell,perl,php</strong>的编程。
						<br />对服务器的运作，出现的问题也积累了很多宝贵经验。
					</p>
				</blockquote>
				<p>以前总想着，用命令行怎么生存，到现在，宁愿在命令行运行命令，终于理解到什么叫<strong>no pain , no gain</strong>。</p>
			</div>
		</div>
	</div>

</div>
