<div class="row-fluid">
	<div class="col-sm-12 col-md-12 app-list" style="margin:4px 0;">
		<div class="thumbnail">
			<div class="caption">
				<h5><small>时间：</small>2014年8月至今</h5>
				<h5><small>项目：</small><i><span class="glyphicon glyphicon-star"></span>设计岛个人中心</i></h5>
				<h5><small>职责：</small>主程序员</h5>
			</div>
			<div class="col-sm-5">
				<img src="images/mcenter1.jpg" class="img-responsive"/>
			</div>
			<div class="col-sm-5">
				<img src="images/mcenter2.jpg" class="img-responsive"/>
			</div>

			<div class="caption">
				<h5><small>描述：</small></h5>
				<p>
					这是我们在移动发力的重要一棒，<strong>设计岛</strong>
				</p>
				<p>
					除了为移动客户端提供接口支持，我还负责网上个人中心的开发，个人中心是提供给用户更多扩展功能的模块。
				</p>
				<blockquote>
					<p class="lead">
						专为移动而生，这一次，我选择了使用Ionic
					</p>
				</blockquote>
				<p>
					Ionic是一个基于AngularJS的前端框架，但又不仅仅是一个移动前端框架，它更提供了很多原生支持，整合了PhoneGap，为Hybrid App的开发提供了极大便利。
					AngularJS是今为止我见过的最强大的前端框架，AngularJS的MVC模式在一定程度上颠覆了原来JS的开发。数据绑定的特性让前端也拥有了后端动态数据的诸多优点。
					因为与php数据模板的概念很像，所以我很快地掌握了AngularJS的基础。由于Ionic提供的强大模块支持，个人中心主体框架很快便搭建起来。
				</p>
				<p>
					后端依旧使用了Thinkphp，这次，让我更熟悉了接口开发的过程
				</p>

			</div>
		</div>
	</div>

</div>
