article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
*{margin:0;padding:0;}
a:hover,a:active,a:link{outline:0;text-decoration:none;}

.bg-color-blue{background-color:#2d89f0 !important;}
.bg-color-blueDark{background-color:#0064cd !important;}
.bg-color-green{background-color:#01a31c !important;}
.bg-color-greenDark{background-color:#005200 !important;}
.bg-color-red{background-color:#bc1c48 !important;}
.bg-color-yellow{background-color:#ffc40d !important;}
.bg-color-orange{background-color:#d44a26 !important;}
.bg-color-pink{background-color:#c3325f !important;}
.bg-color-purple{background-color:#603cba !important;}
.bg-color-darken{background-color:#1c1c1c !important;}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.arrow_box {
	position: relative;
	background: #fff;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(238, 238, 238, 0);
	border-right-color: #eee;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}