article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}

a:hover,a:active,a:link{outline:0;text-decoration:none;}

.bg-color-blue{background-color:#2d89f0 !important;}
.bg-color-blueDark{background-color:#0064cd !important;}
.bg-color-green{background-color:#01a31c !important;}
.bg-color-greenDark{background-color:#005200 !important;}
.bg-color-red{background-color:#bc1c48 !important;}
.bg-color-yellow{background-color:#ffc40d !important;}
.bg-color-orange{background-color:#d44a26 !important;}
.bg-color-pink{background-color:#c3325f !important;}
.bg-color-purple{background-color:#603cba !important;}
.bg-color-darken{background-color:#1c1c1c !important;}



.developing
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.5em;
	width:30%;
	padding:50px;
	text-align:center;
	margin:20% 0 0 30%;
	-webkit-box-shadow:1px 1px 10px 1px rgba(0,0,0,0.5);
}