<!--图片作背景-->
<div class="row-fluid">
	<div class="background-img" style="background-image:url(../vision/photos/icon/1.jpg);"></div>
	<div class="col-xs-12">
		<ul id='messages' class="list-group">
			<li" class="list-group-item" ng-repeat='msg in messages'>
				<h4 class="list-group-item-heading">{{msg.from}}<small class="pull-right">{{msg.writetime}}</small></h4>
				<p class="list-group-item-text">{{msg.body}}</p>
			</li>
		</ul>
	</div>
	<div class="col-xs-12">
		<div style="margin:10px 0;" class="form-inline" role="form">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-bullhorn"></span>
					</div>
					<div class="input-group">
						<input ng-model='msg' class="form-control" ng-keydown="addMessage($event)" type='text' id='messageInput' placeholder='说点什么吧...'>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
