<!--图片作背景-->
<div class="row-fluid">
	<div class="background-img" style="background-image:'{{item.filename}}';"></div>
	<div class="col-xs-12">
		<ul ng-if="messages.length>0" id='example-messages' class="list-group">
			<!--
				自己的话在右边，别人的话在左边（模仿QQ的对话框）
            -->
			<li ng-if="" class="list-group-item pull-right" ng-repeat='msg in messages'>
				<h4 class="list-group-item-heading">{{msg.from}}<small class="pull-right">{{msg.writetime}}</small></h4>
				<p class="list-group-item-text">{{msg.body}}</p>
			</li>
			<li ng-if="" class="list-group-item" ng-repeat='msg in messages'>
				<h4 class="list-group-item-heading">{{msg.from}}<small class="pull-right">{{msg.writetime}}</small></h4>
				<p class="list-group-item-text">{{msg.body}}</p>
			</li>
		</ul>
	</div>
	<div class="col-xs-12">
		<div style="margin:10px 0;" class="form-inline" role="form">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-bullhorn"></span>
					</div>
					<div class="input-group">
						<input ng-model='msg' class="form-control" ng-keydown="addMessage($event)" type='text' id='messageInput' placeholder='Type a message...'>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
